{% extends "base.html" %}

{% block styles %}
<style type="text/css">

.row {
        padding-top: 50px;
      }

</style>

{% endblock %}

{% block content %}
<div class="container-fluid text-center">
  <!-- Main component container start -->
 

  <div class="row" >
    <div class="col-md-12">
            <h2>
              {{voc["instructionText"] | safe}}

            </h2>
    </div>         
  </div>
  
  <div class="row" >
    {% for factoriesPart in factories %}
      <div class="col-sm-4">
        <table class="table table-striped text-center table-hover table-bordered">
          <thead>
            <tr>
              <th> {{voc["factoryListHeaderText"] | safe}}</th>
            </tr>
          </thead>
          <tbody>
            {% for factory in factoriesPart %}
            <tr style="cursor:pointer">
              <td class="btn btn-block" onclick='window.location="{{url_for('plates') + query}}&fr={{factory['factoryID']}}";'> 
                {{factory["factoryName"]}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>

      

<div class="row" >
  <div class="col-md-4 offset-md-4">
    <a href="{{url_for('index')}}" class="btn btn-danger btn-lg btn-xl btn-block" role="button">
            X
        </a>     
  </div>
</div>


        

</div> <!-- /container -->

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'idle_script.html' %}
{% endblock %}