{% extends "base.html" %}

{% block styles %}
<style type="text/css">

.row {
        padding-top: 50px;
      }

</style>



{% endblock %}

{% block content %}
<div class="container-fluid text-center">
  <!-- Main component container start -->
  <div class=" extraspace" >
    <div class="col-md-12">
      <p></p>
    </div>
  </div>


  <div class="row" >
    <div class="col-md-12">
            <h2>
              {{voc["instructionText"] | safe}}

            </h2>
    </div>         
</div>


<div class="row">
  <div class="col-sm-3">
    <span style="font-size: 2em;">
      <i class="far fa-hand-point-left fa-4x"></i>
    </span>
    <br/>
    <span style="font-size: 4em; ">
      2
    </span>
  </div>
  <div class="col-sm-3 offset-sm-6">
    <span style="font-size: 2em;">
      <i class="far fa-hand-point-right fa-4x"></i>
    </span>
    <br/>
    <span style="font-size: 4em; ">
      1
    </span>
  </div>
</div>


<div class="row" >
  <div class="col-sm-3">
      
    <a id="leftLink" class="btn btn-secondary btn-lg btn-xxl btn-block shadow" href="{{buttons['left']['url']}}">
      <i class="fas fa-arrow-left"></i> 
     </a>
  </div>


  <div class="col-sm-3 offset-sm-6">
    <a id="rightLink" class="btn btn-secondary btn-lg btn-xxl btn-block shadow" href="{{buttons['right']['url']}}">
      <i class="fas fa-arrow-right"></i> 
      </a>  
  </div>
</div>


<div class="row" >
  <div class="col-sm-3">
   <div class="codepen-wrapper">
     <span class="registration-ui">{{buttons['left']['textAbove']}}</span>
   </div>
   <br />
   <div class="codepen-wrapper">
     <span class="registration-ui">{{buttons['left']['textBelow']}}</span>
   </div>
  </div>


  <div class="col-sm-3 offset-sm-6">
   <div class="codepen-wrapper">
     <span class="registration-ui">{{buttons['right']['textAbove']}}</span>
   </div>
   <br />
   <div class="codepen-wrapper">
     <span class="registration-ui">{{buttons['right']['textBelow']}}</span>
   </div>
  </div>
</div>


<div class="row" >
  <div class="col-sm-3">
     

  </div>


  <div class="col-sm-3 offset-sm-6">
  </div>
</div>





<div class="extraspace" >
  <div class="col-md-12">
    <p></p>
  </div>
</div>

<div class="row" >
  <div class="col-md-10 offset-md-1">
    <a href="{{url_for('index')}}" class="btn btn-danger btn-lg btn-xl btn-block" role="button">
            X
        </a>     
  </div>
</div>


        

</div> <!-- /container -->

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'idle_script.html' %}
{% endblock %}